<div class="articles">
	<h1 class="col-md-12">Last Games</h1>
	<div class="col-md-6" ng-repeat="game in games">
		<h2>{{game.title}}</h2>
		<a href="{{game.cover.full}}" class="img-thumbnail cover left"> <img
			src="{{game.cover.medium}}" title="{{game.title}}" />
		</a>
		<ul class="tags">
			<li ng-repeat="tag in game.tags"><a ng-href="#/tags/{{tag}}"
				title="Get all games for tag [{{tag}}]">{{tag}}</a></li>
		</ul>
		<ul class="platforms">
			<li ng-repeat="platform in game.platform"><a
				ng-href="#/game/{{game.id}}/platform/{{platform}}"
				title="Get game for platform [{{platform}}]">{{platform}}</a></li>
		</ul>
		<div class="header">{{game['header'][language]}}</div>
		<a class="btn btn-default" href="/#/game/{{game.id}}" role="button">View
			details »</a>
		</p>
	</div>
</div>

