<ul class="nav nav-pills pull-right">
	<li ng-repeat="platform in platforms"><a
		ng-href="#/platforms/{{platform.code}}" title="{{platform.name}}">{{platform.code}}</a></li>
</ul>
<div class="clear:both;"></div>
<article class="article row" ng-repeat="game in games">
	<h1>{{game.title}}</h1>
	<ul class="tags nav-pills pull-right">
		<li ng-repeat="tag in game.tags">{{tag}}</li>
	</ul>
	<a href="{{game.cover.big}}" class="pull-left"> <img
		class="img-thumbnail" src="{{game.cover.medium}}"
		title="{{game.title}}" />
	</a>
	<ul class="platforms nav-pills pull-right">
		<li ng-repeat="pf in game.platform">{{pf}}</li>
	</ul>
	<div class="header">{{game['header'][language]}}</div>
	<div class="content">{{game['content'][language]}}</div>
	<div class="info">{{game.editor}} / {{game.developer}} /
		{{game.publicationDate | date : 'medium' }}</div>
	<div class="clear:both;"></div>
</article>
