html > * {
	padding: 0px;
	margin: 0px;
}

body {
	width: 80%;
	margin: 0% 10%;
}

header {
	display: block;
	height: 100px;
	background-color: #333;
	color: #fff;
	padding: 10px;
}

header h1 {
	text-shadow: 4px 4px 8px #000;
	font-family: fantasy;
}

header nav ul {
	display: block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

header nav ul li {
	display: inline-block;
}

header nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 2px 8px;
	font-size: 14pt;
	text-shadow: 4px 4px 8px #000;
}

header nav ul li a em {
	font-style: normal;
	text-decoration: underline;
	font-variant: normal;
	font-weight: bold;
}

section {
	display: block;
	background-color: #eee;
	height:100%;
	padding:10px;
	font-family: monospace;
}

article {
	float:left;
	width:50%;
	text-align:justify;
}
article h1{
	font-size:14pt;
	padding: 0px 8px;
	margin: 8pt 0px;
}
article .platform {
	display: inline-block; list-style : none;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
article img.cover{
	display:block;
	float:left;
	padding:10px;
	padding-right:20px;
	width:120px;
}
article .platform li {
	display: inline-block; list-style : none;
	padding:2px 8px;
	font-family: sans-serif;
	font-size: 10pt;
	font-variant: small-caps; 
	color:#ddd;
	background-color:#333;
	margin-left:4px;
}
article .header,
article .content {
	padding:10px;
}
article .info {
	padding:10px;
	font-size:8pt;
}
footer {
	display: block;
	/*position: absolute;
	width: 80%;
	bottom: 0px;*/
	height: 32px;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	background-color: #333;
	color: #fff;
}