/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,.marketing,.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media ( min-width : 768px) {
	.container {
		max-width: 730px;
	}
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 10px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p+h4 {
	margin-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	/* Remove the padding we set earlier */
	.header,.marketing,.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}

.articles article .cover {
	margin: 10px;
	padding: 5px;
}

.articles article .cover img {
	border-radius: 8px;
}

.articles article .left {
	float: left;
	margin: 0px 10px 10px 0px;
}

.articles article {
	clear: both;
	margin-bottom: 20px;
}

.articles article div.header {
	text-align: justify;
}

.articles article div.content {
	text-align: justify;
	border-bottom:1px dotted #999;
	padding-bottom:10px;
	/*margin-bottom:10px;*/
}

.articles article ul {
	float: right;
	list-style: none;
	margin: 0px;
	padding: 4px;
	padding-left: 10px;
}

.articles article ul li {
	display:inline-block;
	padding: 0px 8px 0px 4px;
	border-left: 1px dotted #999;
}

.articles article ul:last-child li:after {
	content: "";
}

.articles article ul.platforms {
	color: #066;
}

.articles article ul.tags {
	color: #666;
}
