<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
<title>GamesLibrary</title>
<link rel="stylesheet" type="text/css" href="styles/screen.css"
	media="screen">
<link rel="stylesheet" type="text/css" href="styles/print.css"
	media="print">
<script type="text/javascript" src="scripts/angular.min.js"></script>
</head>
<body>
	<header>
		<h1>Games library</h1>
		<nav>
			<ul>
				<li><a href="#/home" title="got to Library home page"><em>H</em>ome</a></li>
				<li ng-repeat="platform in platforms"><a
					href="#/category/{{platform.code}}"
					accesskey="{{platform.accesskey}}"
					title="got to {{platform.name}} Library">{{platform.name | highLightAccessKey}}</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<article ng-repeat="game in games">
			<h1>{{game.title}}</h1>
			<div class="header">{{game.header}}</div>
			<div class="content">{{game.content}}</div>
			<div class="info">{{game.editor}} / {{game.publisher}} / {{game.publicationDate}} </div>
		</article>
	</section>
	<footer>
		<p>(c) 2014 - Frédéric Delorme</p>
	</footer>
</body>
</html>